body{
    
    
    /*background-image: linear-gradient(to right, #FFE29F 0%, #FFA99F 20%);*/
    background-color: black;
}

.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.wrapper{
    width: 70%;
    margin: auto;
    text-align: center;
}
h2{
    margin: 20px;
    font-size: 6rem;
    color:rgb(245, 245, 245);
}
h1{
    text-align: center;
    color:rgb(245, 245, 245);
}
.dice_area{
    margin: 0px  50px;
    text-align: center;
    display: inline-block;


}
p{
    font-size: 2.5rem;
    color:rgb(245, 245, 245);
}
img{
    width: 320px;
}
#bye{
    text-align: center;
    font-size: 1.5rem;

} 
.switch{
    height: 50px;
    width: 70px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: white;
}